node_modules/
.expo/
.expo-shared/
dist/
web-build/
.env
.env.*
!.env.example
npm-debug.*
yarn-debug.*
yarn-error.*
.tools/
android/.gradle/
android/build/
android/app/build/
android/app/debug/
android/app/release/
android/**/*.keystore
ios/build/
ios/Pods/
*.apk
*.aab
